  <% if @current_user %>
  
  <h2>My Posts from <%= @place.name %></h2>

  <% for post in @place.posts.where({ user_id: @current_user.id }) %>
      <h3><%= post.title %></h3>
      <h4><%= post.posted_on %></h4>
      <p><%= post.description %></p>
      <% if post.uploaded_image.attached? %>
      <img src="<%= url_for(post.uploaded_image) %>" class="img-fluid">
      <% else %>
      <% end %>
  <% end %>

<div class="col-sm-3 text-end">
  <a href="/posts/new?place_id=<%= @place.id %>" class="btn btn-success">New Post</a>
</div>

<p>
  <a href="/places">Back to All Places</a>
</p>

<% else %>
        Login or Sign up to see and share the place's you've been!
        <% end %>

